name: CI
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 'lts/*'
      - name: Install dependencies
        run: npm install
      - name: Lint files
        run: npm run lint
  test:
    name: Test
    strategy:
      matrix:
        os: [ubuntu-latest]
        # Please avoid setting the Node.js version to "18.18.0"
        # https://github.com/eslint/generator-eslint/pull/223
        node: [25.x, 24.x, 22.x, 20.x, 18.x, "18.18.1"]
        include:
        - os: windows-latest
          node: "lts/*"
        - os: macOS-latest
          node: "lts/*"
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-node@v6
      with:
        node-version: ${{ matrix.node }}
    - name: Install dependencies
      run: npm install
    - name: Run tests
      run: npm test
