name: CI
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16.x'
      - name: Install dependencies
        run: npm ci
      - name: Lint files
        run: npm run lint
  test:
    name: Test
    strategy:
      matrix:
        os: [ubuntu-latest]
        node: [16.x, 14.x, 12.x]
        include:
        - os: windows-latest
          node: "16.x"
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node }}
    - name: Install latest NPM
      run: npm install -g npm@latest
    - name: Install dependencies
      run: npm ci
    - name: Run tests
      run: npm test
